<div class="component">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@imgSource" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@name</h5>
        <p class="card-text">
            <span class="oi oi-location">@address</span>
            <br />
            <span class="oi oi-star">@postalCode</span>
            <br />
            @name
        </p>
        <a href="#" class="btn btn-primary">View hospital page</a>
    </div>
</div>
</div>
@code {

    [Parameter]
    public string imgSource { get; set; }
    [Parameter]
    public string name { get; set; }
    [Parameter]
    public string address { get; set; }
    [Parameter]
    public string info { get; set; }
    [Parameter]
    public int postalCode { get; set; }

}

<style>
    .component {
    display: inline-block;
    padding: 10px;
    flex: 0 0 auto;
    }
</style>