@page "/"
@using Syncfusion.Blazor.Calendars

<div class="container-fluid horizontal-scrollable py-2 pt-4">
    <h2>Hospitals</h2>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
    </div>
</div>
<div class="container-fluid horizontal-scrollable py-2">
    <br />
    <h2>Clinics</h2>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
    </div>
</div>

<style>
    row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    }
</style>