@page "/"
@using Syncfusion.Blazor.Calendars

<div class="row">
    <div class="col-3"></div>
    <div class="col-6 row">
        <div class="col-2 menu_button"><b>Home</b></div>
        <div class="col-2 menu_button"><b>Hospital</b></div>
        <div class="col-2 menu_button"><b>Clinic</b></div>
        <div class="col-2 menu_button"><a href="LogIn" class="button1"><b>Log in</b></a></div>
        <div class="col-2 menu_button"><b>Register</b></div>
    </div>
    <div class="col-3"></div>
</div>

<link href="css/style.css" type="text/css" rel="stylesheet"/>


<div class="container-fluid horizontal-scrollable py-2 pt-4">
    <div class="surroundBody">
            <h2>Hospitals</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
            <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        </div>
    </div>
</div>
<div class="container-fluid horizontal-scrollable py-2">
    <br />
    <h2>Clinics</h2>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
    </div>
</div>

<style>
    row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    }
</style>