@page "/"
@using Syncfusion.Blazor.Calendars
<div class="container-fluid horizontal-scrollable">
    <h2>Hospitals</h2>
    <div class="row flex-row flex-nowrap overflow-auto">
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
    </div>


    <br />
    <h2>Clinics</h2>
    <div class="row flex-row flex-nowrap overflow-auto">
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
        <div class="col-xs-4"><HomeHospitalComponent imgSource='/images/weed.jpg'></HomeHospitalComponent></div>
    </div>
</div>

<style>
    row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    }
</style>