@page "/profile"
@using Syncfusion.Blazor.Navigations

<link href="css/profile.css" type="text/css" rel="stylesheet"/>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-img">
                    <img src="images/weed.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="profile-head">
                    <h3 align="center">
                        Lorena Ciocotoiu
                    </h3>
                    <h4 align="center">
                        Patient
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 profile-tab">
                <SfTab>
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="About"/>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>User Id</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>caca123</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Micutza Printzesa :*******</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>caca69@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>123 456 7890</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profession</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Spart borcane</p>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Medical History"/>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Treatment</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>COVID-19 - Bleach</p>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </div>
        </div>
    </form>
</div>

@code {

}