@page "/schedule/{doctorID}"
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using SEP3.Model
@using SEP3.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor

@inject ICloudAppointmentService CloudAppointmentService;

<div class="col-lg-12 control-section">
    <div class="schedule-wrapper">
        <SfSchedule TValue="Appointment" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate" Readonly="true">
            <ScheduleEventSettings TValue="Appointment">
                <SfDataManager Url="@url" Adaptor="@Syncfusion.Blazor.Adaptors.WebApiAdaptor"></SfDataManager>
            </ScheduleEventSettings>
        </SfSchedule>
    </div>
</div>


@code{
    private DateTime CurrentDate = DateTime.Now;
    [Parameter]
    public int doctorID { get; set; }

    string url = "https://localhost:8085/appointments/doctor/";

    protected async  override Task OnInitializedAsync()
    {
        url = url + doctorID;
    }

}

<style>
    .custom-event-editor td {
        padding: 7px;
        padding-right: 16px;
    }
</style>