@page "/sendNotifications"
@attribute [Authorize(Roles = "manager, doctor")]
@using Syncfusion.Blazor.Inputs
@using SEP3.Data
@using SEP3.Model
@using SEP3.Auth

@inject ICloudMessageService CloudMessageService;
@inject ICloudUserService CloudUserService;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager

<link href="css/style.css" type="text/css" rel="stylesheet"/>

<div class="m-auto">
    <p class="setPositionCenter WelcomeText"><b>Send Notification</b></p>
</div>

<div class="rounded-pill setPositionCenter" style="background-color: white; padding: 10px">
    <br/>
    <p>Current privilege: @me.userType</p>
    <SfTextBox CssClass="e-rtl" Placeholder="Notification Content" FloatLabelType="@FloatLabelType.Auto" Multiline="true" @bind-value="@toAdd.text"></SfTextBox>
    <input type="button" class="btn btn-success" value="Notify" @onclick="SendNotification">
    <br/>
</div>

@code {
    Message toAdd = new Message();
    string myID;
    User me = new User();

    protected override async Task OnInitializedAsync()
    {
        myID = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[0].Value;
        me = await CloudUserService.GetUser(myID);
    }

    public async Task SendNotification()
    {
        toAdd.type = "notification";
        toAdd.senderID = Int32.Parse(myID);
        toAdd.timestamp = new DateTime(DateTime.Now.Year,DateTime.Now.Month,DateTime.Now.Day,DateTime.Now.Hour,DateTime.Now.Minute,DateTime.Now.Second);
        if (me.userType.Equals("manager"))
        {
            toAdd.recieverID = 0;
        }
        else
        {
            toAdd.recieverID = -1;
        }
        await CloudMessageService.SendMessage(toAdd);
        NavigationManager.NavigateTo("/");
    }

}