@using Syncfusion.Blazor.Inputs
@using SEP3.Data
@using SEP3.Model
@using SEP3.Auth

@inject ICloudMessageService CloudMessageService;
@inject ICloudUserService CloudUserService;
@inject AuthenticationStateProvider AuthenticationStateProvider;

<h3>Send Notifications</h3>

<p>Current privilege: @me.userType</p>
<SfTextBox CssClass="e-rtl" Placeholder="Notification Content" FloatLabelType="@FloatLabelType.Auto" Multiline="true" @bind-value="@toAdd.text"></SfTextBox>
<input type="button" class="btn btn-success" value="Notify" @onclick="SendNotification">

@code {
    Message toAdd = new Message();
    string myID;
    User me = new User();

    protected override async Task OnInitializedAsync()
    {
        myID = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[0].Value;
        me = await CloudUserService.GetUser(myID);
    }

    public void SendNotification()
    {
        toAdd.type = "notification";
        toAdd.senderID = Int32.Parse(myID);
        toAdd.timestamp = new DateTime(DateTime.Now.Year,DateTime.Now.Month,DateTime.Now.Day,DateTime.Now.Hour,DateTime.Now.Minute,DateTime.Now.Second);
        CloudMessageService.SendMessage(toAdd);
    }

}